[Unit]
Description=The PHP 5 FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=notify
PIDFile=/run/php5-fpm/php-fpm.pid
PrivateTmp=true
ExecStart=/usr/bin/php5-fpm --nodaemonize --pid /run/php5-fpm/php-fpm.pid
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
